<h3>Decide cuáles son las mejores exposiciones en Madrid</h3> 
<div class="row">
    <div class="large-8 columns">
      <h4>Elige entre los diferentes museos</h4>
 
      <p>Afluencia de visitantes en Madrid.</p>
 
<!--highchart1-->   
    <div class="row">
      <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    </div>  
</div>

  <div class="row">
       <div class="large-12 columns">
         <div id="container2" style="height: 400px"></div>
       </div>
  </div>
   <p>Este gráfico muestra el resultado de las votaciones 
      de los diferentes usuarios de las exposiciones que se 
      encuentran en la base de datos actual.</p>
