 
  <section class="slider pad-btm">

    <ul data-orbit>
              <li>
        <img class= "back" src="/assets/mncars.jpg" alt="" />
        <div class="orbit-caption">
            
            </div>
        </li>
      <li>
        <img class= "back" src="/assets/CaixaForum.jpg" alt="" />
        <div class="orbit-caption">
            
            </div>
        </li>
      <li>
        <img class= "back" src="/assets/interior2.jpg" alt="" />
        <div class="orbit-caption">
            
            </div>
        </li>
    </ul>
</section>

    <div class="large-9 columns">
      <ul class="button-group right">
        <li><%=link_to 'How it works?',info_path, class:"button" %></li>
        <li><%=link_to 'Museums',locations_path, class:"button" %></li>
      </ul>
    </div>

    
  <div class="row">
    <div class="large-4 columns">
      <img src="/assets/tate.jpg">
    </div>
    <div class="large-8 columns">
      <h4>This is a content section.</h4>
      <div class="row">
        <div class="large-6 columns">
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
        <div class="large-6 columns">
          <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
        </div>
      </div>
    </div>
  </div>
 
 
    
  <div class="row">
    <div class="large-8 columns">
      <h4>This is a content section.</h4>
 
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
 
<!--highchart1-->   
    <div class="row">
      <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis esse delectus a ratione impedit ipsum, cupiditate nihil minima atque veniam repudiandae harum! Amet, fugiat consectetur. Recusandae, voluptatum sapiente! Officia, sapiente.</p>
  </div>
  <div class="row">
       <div class="large-12 columns" style="width: 900px; height: 500px;">
         <div id="container2" style="height: 400px; min-width: 310px;  
  max-width: 800px; margin: 0 auto"></div>
       </div>
  </div>

  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>Marina Lafuente   2014</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

