 
  <section class="slider pad-btm">

    <ul data-orbit>
              <li>
        <img class= "back" src="/assets/mncars.jpg" alt="" />
        <div class="orbit-caption">
            
            </div>
        </li>
      <li>
        <img class= "back" src="/assets/CaixaForum.jpg" alt="" />
        <div class="orbit-caption">
            
            </div>
        </li>
      <li>
        <img class= "back" src="/assets/interior2.jpg" alt="" />
        <div class="orbit-caption">
            
            </div>
        </li>
    </ul>
</section>

    <div class="large-9 columns">
      <ul class="button-group right">
        <li><%=link_to 'Museums', locations_path, class:"button"%></li>
        <li><%=link_to 'List', info_path, class:"button"%></li>
      </ul>
    </div>

  <div class="row" id="render">
    <%= render "graphics" %>    
  </div>
    
  
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>Marina Lafuente   2014</p>
        </div>
        
      </div>
    </div>
  </footer>

