 
  <section class="slider pad-btm">

    <ul data-orbit>
              <li>
        <img class= "back" src="/assets/mncars.jpg" alt="" />
        <div class="orbit-caption">
            
            </div>
        </li>
      <li>
        <img class= "back" src="/assets/CaixaForum.jpg" alt="" />
        <div class="orbit-caption">
            
            </div>
        </li>
      <li>
        <img class= "back" src="/assets/interior2.jpg" alt="" />
        <div class="orbit-caption">
            
            </div>
        </li>
    </ul>
</section>

    <div class="large-9 columns">
      <ul class="button-group right">
        <li onclick= "renderList()" href="#" class="button">Expositions List</li>
        <!--<li><%=link_to 'Museums',locations_path, class:"button" %></li>-->
      </ul>
    </div>

    
  <div class="row" id="home_info">
    <%= render "graphics" %>
    <!--<%= render "locations/listOfMuseums" %> -->
  </div>
 
    
  
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>Marina Lafuente   2014</p>
        </div>
        
      </div>
    </div>
  </footer>

