img, a img {
	border:0;
} 
/* nobody likes default border around images */
.clear {
	display: inline-block;
}
.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
* html .clear {
	height: 1%;
}
.clear {
	display: block;
}
.orbit-caption{
	
}
.large-9 {
width: 75%;
margin-left: 100px;
}